

* {
	margin: 0;
	padding: 0;
}

a {
	color: #576454;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 16pt;
	line-height: 2em;
	font-family: Trebuchet MS, sans-serif;
	background: #f1f0f0;
	color: #393835;
	text-shadow: 0 1px 0 #ffffff;
	background-image: url("images/blue-snow.png");
}

pre {
	white-space：normal；
	word-wrap：break-word；
	word-break：break-all；
}

br.clear {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: bold;
}

h2,h3,h4 {
	margin-bottom: 0.5em;
	font-family: helvetica;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

img.left {
	float: left;
	margin: 8px 20px 20px 0;
}

img.top {
	margin: 8px 0 20px 0;
}

p {
	margin-bottom: 1.75em;
}

ul {
	margin-bottom: 1.75em;
}

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}

#bg {
	background: url('images/highlight.png') top left repeat-x;
	padding: 35px 0 65px 0;
}

#banner {
	position: relative;
	padding: 1px;
	height: 200px;
	width: 1116px;
	margin: 0;
}

#box1 {
	margin: 0 0 24px 0;
	overflow: hidden;
	word-wrap: break-word;
}

#box2 {
	margin: 0 0 24px 0;
	overflow: hidden;
}

#box3 {
	overflow: hidden;
}

#content {
	width: 1076px;
	float: left;
	padding: 28px;

}

#copyright {
	margin: 34px 0 0 0;
	text-align: center;
	color: #909090;
	text-shadow: 0 1px 0 #ffffff;
}

#copyright a {
	color: #909090;
}

#footer {
	position: relative;
	padding: 28px;
	margin: 34px 0 0 0;
	width: 1124px;
	background: #576454;
	color: #bcc1bb;
	text-shadow: 0 1px 0 #273424;
}

#footer a {
	color: #ebecea;
}

#footer h2, #footer h3, #footer h4 {
	color: #ffffff;
}

#footer p {
	margin-bottom: 0;
}

#footer ul {
	list-style: none;
	margin-bottom: 0;
}

#footer ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #707b6e;
}

#footer ul li.first {
	padding-top: 0;
	border-top: 0;
}

#footerContent {
	width: 516px;
	float: right;
}

#footerSidebar1 {
	width: 224px;
	float: left;
}

#footerSidebar2 {
	width: 224px;
	margin: 0 28px 0 304px;
}

#header {
	position: relative;
	padding: 5px;
	height: 66px;
	width: 1124px;
	margin: 0 0 4px 0;
}

#logo {
	text-align: center;
	position: relative;
	margin: -14px auto;
	height: 98px;
	line-height: 98px;
}

#logo a {
	text-decoration: none;
	color: #000000;
}

#logo h1 {
	font-weight: bold;
	font-family: "times new roman";
}

#main {
	position: relative;
	padding: 0;
	margin: 0 0 0 0;
	width: 1180px;
	color: #666666;
}

#main strong {
	color: #454545;
}

#main h2, #main h3, #main h4 {
	color: #1a1a1a;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #d9d9d9;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1180px;
	height: 56px;
	line-height: 56px;
	margin: 0 0 0 0;
	font-size: 1.25em;
	font-family:"times new roman";
}

#nav a {
	text-decoration: none;

	color: #1b1b19;
}

#nav a:hover {
	text-decoration: underline;
}

#nav ul {
	list-style: none;
	margin: 0 auto;
	width: 1062px;
	text-align: center;
}

#nav ul li {
	font-size: 1.1em;
	display: inline;
	text-align: center;
	padding: 0.5em 1em 0.5em 1em;
}

#nav ul li a {
	padding: 0.5em 1em 0.5em 1em;
}

#nav ul li.active a {
	background: #576454;
	color: #ffffff;
	text-shadow: 0 1px 0 #273424;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto 0 auto;
}

#search input.button {
	margin-left: 1em;
	border: 0;
	color: #ffffff;
	background: #576454;
	padding: 5px;
}

#search input.text {
	border: dotted 1px #000000;
	padding: 4px;
}

#sidebar1 {
	width: 224px;
	float: left;
	padding: 28px;
	color: #5c5a54;
	text-shadow: 0 1px 0 #ffffff;
}

#sidebar1 h2, #sidebar1 h3, #sidebar1 h4 {
	color: #000000;
}

#sidebar1 ul {
	list-style: none;
}

#sidebar1 ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #c3bfb3;
}

#sidebar1 ul li.first {
	padding-top: 0;
	border-top: 0;
}

#sidebar2 {
	width: 224px;
	margin: 0 28px 0 304px;
	padding: 28px;
	color: #5c5a54;
	text-shadow: 0 1px 0 #ffffff;
}

#sidebar2 h2, #sidebar2 h3, #sidebar2 h4 {
	color: #000000;
}

#sidebar2 ul {
	list-style: none;
}

#sidebar2 ul li {
	padding: 8px 0 8px 0;
	border-top: dotted 1px #c3bfb3;
}

#sidebar2 ul li.first {
	padding-top: 0;
	border-top: 0;
}








.push_button {
	position: relative;
	width:220px;
	height:40px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	line-height:43px;
	font-family:'Oswald', Helvetica;
	display: block;
	margin: 30px;
}
.push_button:before {
	background:#f0f0f0;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	
	position: absolute;
	content: "";
	left: -6px; right: -6px;
	top: -6px; bottom: -10px;
	z-index: -1;
}


.push_button:active:before{
	top: -11px;
	bottom: -5px;
	content: "";
}

.red {
	position: relative;
	left: -20px;
	text-shadow:-1px -1px 0 #A84155;
	background: #D25068;
	border:1px solid #D25068;
	
	background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
	background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
	background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
	background-image:-o-linear-gradient(top, #F66C7B, #D25068);
	background-image:linear-gradient(to bottom, #F66C7B, #D25068);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
	background: #F66C7B;
	background-image:-webkit-linear-gradient(top, #D25068, #F66C7B);
	background-image:-moz-linear-gradient(top, #D25068, #F66C7B);
	background-image:-ms-linear-gradient(top, #D25068, #F66C7B);
	background-image:-o-linear-gradient(top, #D25068, #F66C7B);
	background-image:linear-gradient(top, #D25068, #F66C7B);
}

.blue {
	position: relative;
	left: 820px;
	top:-72px;
	text-shadow:-1px -1px 0 #2C7982;
	background: #3EACBA;
	border:1px solid #379AA4;
	background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:linear-gradient(top, #48C6D4, #3EACBA);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
	background: #48C6D4;
	background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:linear-gradient(top, #3EACBA, #48C6D4);
}

